<section class="hero">
  <img 
    src="assets/images/gabriela-flautista.png" 
    alt="Gabi bailarina"
    class="hero-img"
  />

  <div class="hero-overlay">
    <h1>
      Minha trajetória
      <span class="decorated">na dança</span>
    </h1>

    <p>Cada passo carrega um pedaço da minha história.</p>
  </div>
</section>

<section class="intro">
  <!-- frase de transição -->
</section>

<section class="timeline">
  <!-- minha jornada -->
</section>

<section class="estilo">
  <!-- estilo e inspirações -->
</section>
