<header class="header">
  <nav class="nav-container">
    <ul class="nav-list">
      <li>
        <a routerLink="/pages/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      </li>
      <li>
        <a routerLink="/pages/sobre" routerLinkActive="active">Sobre Mim</a>
      </li>
      <li>
        <a routerLink="/pages/apresentacoes" routerLinkActive="active">Apresentações</a>
      </li>
      <li>
        <a routerLink="/pages/galeria" routerLinkActive="active">Galeria</a>
      </li>
      <li>
        <a routerLink="/pages/conquistas" routerLinkActive="active">Conquistas</a>
      </li>
      <li>
        <a routerLink="/pages/diario" routerLinkActive="active">Diário da Dança</a>
      </li>
      <li>
        <a routerLink="/pages/contato" routerLinkActive="active">Contato</a>
      </li>
    </ul>
  </nav>
</header>
