<section class="hero">
    <div class="hero-container">
        <div class="hero-text">
            <h1 class="fade-in delay-2"> Gabriela </h1>
            <p class="fade-in delay-3"> A dança é a linguagem da alma</p>
            <button class="btn fade-in delay-4"> Ver Trajetória </button>
        </div>
        <div class="hero-image fade-in delay-1">
            <img src="assets/images/gabriela-arabesque.png" alt="Gabriela arabesque">
        </div>
    </div>
</section>

<section class="next-show">
  <div class="card">

    <p class="label">Próximo Espetáculo</p>

    <div class="countdown">

        <div class="time-box">
            <span>{{ dias }}</span>
            <small>Dias</small>
        </div>

        <div class="divider"></div>  

        <div class="time-box">
            <span>{{ horas | number:'2.0' }}</span>
            <small>Horas</small>
        </div>

        <div class="divider"></div> 

        <div class="time-box">
            <span>{{ minutos | number:'2.0' }}</span>
            <small>Minutos</small>
        </div>

        <div class="divider"></div>

        <div class="time-box">
            <span>{{ segundos | number:'2.0' }}</span>
            <small>Segundos</small>
        </div>

    </div>

    <p class="show-name">
        Para: <span>Abertura Abril pra Dança</span>
    </p>

    <p class="show-date">06 de Abril de 2026</p>

  </div>
</section>


